<component name="ArtifactManager">
  <artifact type="war" name="SpringServlet:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springmvcmaven-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringServlet:war exploded" />
    </root>
  </artifact>
</component>